{
    "app": {
      "name": "Agni Application",
      "id": "Agni_App",
      "version": "1.0.0.0"
    },
    "log":{
      "leg_level": "debug",
      "log_file_max_size": 10000,
      "log_file_base_path": "/var/log/app/"
    },
    "appunits": [
      {
        "uname": "Http _demo",
        "enable": 1,
        "pool_size":1,
				"path":"/media/ajith/data/Developments/GO/RnD/agni/Agni/apps/units/demohttp.so",
        "config":""
      }
    ]
}